{% extends "layouts/default.html.twig" %}

{% block content %}
<header class="section section--page-header">
  <div class="section__inner">
    <div class="block">
      <h1 class="block__title">Базовая страница</h1>
    </div>
    <div class="block">
      {% include 'parts/breadcrumbs.html.twig' %}
    </div>
  </div>
</header>
<!-- /page-header -->

<main class="section section--basic">
  <div class="section__inner">
    <div class="block">
      <h2 class="block__title">Просто текст</h2>
      <div class="text">
        <p>Стратегический маркетинг отражает рейтинг. План размещения, пренебрегая деталями, повсеместно определяет целевой сегмент рынка. Имидж, в рамках сегодняшних воззрений, исключительно определяет бюджет на размещение, расширяя долю рынка. Стратегическое планирование, анализируя результаты рекламной кампании, сознательно притягивает медийный канал.</p>
      </div>
    </div>
    <div class="block">
      <h2 class="block__title">Прикреплённые файлы</h2>
      {% include 'parts/files.html.twig' %}
    </div>
  </div>
</main>
<!-- /basic -->
{% endblock %}
