.breadcrumbs {
  --gap: var(--text-size);

  display: flex;
  flex-wrap: wrap;
  gap: 0 var(--gap);
}

.breadcrumbs__item {
  display: flex;

  &:not(:last-child) {
    &::after {
      margin-left: var(--gap);
      content: '/';
    }
  }
}

a.breadcrumbs__link {
  @include transition;

  &:hover,
  &:focus {
    @include underline;

    outline: none;
    color: var(--main-color);
  }

  .breadcrumbs__item:not(:last-child) & {
    color: var(--main-color);
  }
}
