.cookie {
  @include dark;

  background-color: var(--dark-color);
  padding: var(--spacing);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--shadow);

  @include media('>=tablet') {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--spacing-lg);
  }
}

.cookie__body {
  @include t2;

  a {
    color: var(--main-color);
  }
}

.cookie__submit {
  @include t2;

  padding: var(--spacing-xs) var(--spacing-lg);

  @include media('<tablet') {
    margin-top: var(--spacing);
  }

  @include media('>=tablet') {
    margin-left: var(--spacing);
  }
}
