.files {
  @include light;
}

.files__list {
  overflow: hidden;
  border-radius: var(--border-radius);
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}

.files__item {
  flex: 0 0 100%;
}

.files__link {
  width: 100%;
  display: flex;
  align-content: stretch;
  background-color: #fff;
  padding: var(--spacing-sm) var(--spacing-lg);
}

.files__title {
  @include transition;

  flex-grow: 1;

  a.files__link:hover &,
  a.files__link:focus & {
    outline: none;
    color: var(--main-color);
  }
}

.files__download {
  @include transition;

  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  a.files__link:hover &,
  a.files__link:focus & {
    color: var(--main-color);
  }
}

a.files__download {
  &:hover,
  &:focus {
    outline: none;
    color: var(--main-color);
  }
}
