.pagination {
  --gap: var(--spacing-xs);
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  justify-content: center;
  list-style: none;
  padding: 0;
}

.pagination__item {
  display: flex;
  white-space: nowrap;
  text-align: center;
}

.pagination__item--prev {
  margin-right: var(--gap);
}

.pagination__item--next {
  margin-left: var(--gap);
}

.pagination__link {
  @include transition;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: calc(var(--text-height) + var(--spacing-xs) * 2);
  padding: var(--spacing-xs);
  border-radius: var(--border-radius);
  color: var(--main-color);

  .pagination__item--current & {
    background-color: var(--main-color);
    color: #fff;
  }
}

a.pagination__link {
  &:hover,
  &:focus {
    outline: none;
    background-color: var(--main-color);
    color: #fff;
  }
}
