{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "standard",
    "plugin:sonarjs/recommended"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "sonarjs/cognitive-complexity": ["error", 50]
  }
}
