.section--cookie {
  @include dark;

  position: fixed;
  z-index: 99999;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(#000, 0.75);
  padding-top: var(--spacing-sm);
  padding-bottom: var(--spacing-sm);
}
