/* Header */
.section--header {
  @include dark;
  @include transition;

  background-color: $main-color;
  padding-top: $spacing;
  padding-bottom: $spacing;
  position: sticky;
  top: 0;
  flex-shrink: 0;
  z-index: 1000;

  &.is-scrolled {
    background-color: $dark-color;
  }
}
