@use '../common/globals' as *;

.section--header {
  @include dark;
  @include transition;
  --section-bg-color: var(--dark-color);

  padding-top: 0;
  padding-bottom: 0;
  position: sticky;
  top: 0;
  left: 0;
  flex-shrink: 0;
  z-index: 1000;
  overflow: visible;
  height: var(--header-height);
  display: flex;

  html.has-light-top &,
  &.is-scrolled {
    --section-bg-color: var(--dark-color);
    box-shadow: var(--shadow-sm);
  }

  .section__inner {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}
