:root {
  --header-height: 0px !important;
}

.section--header {
  @include dark;
  @include transition;

  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  flex-shrink: 0;
  z-index: 1000;
  overflow: visible;

  html.has-light-top &,
  &.is-scrolled {
    background-color: var(--dark-color);
  }
}
