@use 'common/variables';
@use 'common/fonts';
@use 'common/layout';
@use 'content/text';

body {
  @extend %text;

  margin: 0;
  padding: 15px;
  max-width: calc(var(--max-width) - 30px);
  height: auto;
  min-height: 0;
  display: block;
  background: #fff;
}
