@import "https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap";

/*
Add to <head> before main.css

<link rel="preload" href="/fonts/fontName_regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/fontName_bold.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/fontName_italic.woff2" as="font" type="font/woff2" crossorigin>
*/

/*
@font-face {
  font-family: 'FontName';
  src:
    url("../fonts/fontName_regular.woff2") format("woff2"),
    url("../fonts/fontName_regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FontName";
  src:
    url("../fonts/fontName_bold.woff2") format("woff2"),
    url("../fonts/fontName_bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "FontName";
  src:
    url("../fonts/fontName_italic.woff2") format("woff2"),
    url("../fonts/fontName_italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
*/
