/* Grid */
@use "sass:math";

.row {
  margin: math.div(-$row-gutter, 2) math.div(-$col-gutter, 2);
  display: flex;
  flex-wrap: wrap;
}

.col {
  padding: math.div($row-gutter, 2) math.div($col-gutter, 2);
  flex: 0 0 100%;
  max-width: 100%;
}

@each $bp-name, $bp-size in $breakpoints {
  @for $column from 1 through $columns {
    @include media(">=" + $bp-name) {
      .col--#{str-slice($bp-name, 0, 1)}-#{$column} {
        flex-basis: percentage(math.div($column, $columns));
        max-width: percentage(math.div($column, $columns));
      }
    }
  }
}

.grid-demo__item {
  background-color: #ddd;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 3px;
}
