.row {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  gap: var(--grid-row-gap) var(--grid-col-gap);
}

.col {
  grid-column-end: span var(--grid-columns);
}

@each $bp-name, $bp-size in $breakpoints {
  @for $column from 1 through $grid-columns {
    @include media('>=' + $bp-name) {
      .col--#{str-slice($bp-name, 0, 1)}-#{$column} {
        grid-column-end: span #{$column};
      }
    }
  }
}
