/* Grid */
@use "sass:math";

.row {
  margin: calc($row-gutter * -0.5) calc($col-gutter * -0.5);
  display: flex;
  flex-wrap: wrap;
}

.col {
  padding: calc($row-gutter * 0.5) calc($col-gutter * 0.5);
  flex: 0 0 100%;
  max-width: 100%;
}

@each $bp-name, $bp-size in $breakpoints {
  @for $column from 1 through $columns-count {
    @include media(">=" + $bp-name) {
      .col--#{str-slice($bp-name, 0, 1)}-#{$column} {
        flex-basis: math.percentage(math.div($column, $columns-count));
        max-width: math.percentage(math.div($column, $columns-count));
      }
    }
  }
}

.grid-demo__item {
  background-color: $light-gray-color;
  padding: $spacing-sm $spacing;
  border-radius: $border-radius;
}
