@use 'globals' as *;

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

h5 {
  @include h5;
}

h6 {
  @include h6;
}

button,
input[type='button'],
input[type='submit'],
input[type='reset'] {
  color: inherit;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  text-align: left;
}
