<div class="pagination">
  <ul class="pagination__list">
    <li class="pagination__item pagination__item--prev">
      <a class="pagination__link" href="">
        {{ 'prev' | icon('pagination__icon') }}
      </a>
    </li>
    <li class="pagination__item pagination__item--current">
      <a class="pagination__link" href="">1</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="">2</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="">3</a>
    </li>
    <li class="pagination__item pagination__item--next">
      <a class="pagination__link" href="">
        {{ 'next' | icon('pagination__icon') }}
      </a>
    </li>
  </ul>
</div>
