<div class="xslider__arrows">
  <button class="xslider__arrow" type="button" data-prev>
    {{ 'prev' | icon }}
  </button>
  <button class="xslider__arrow" type="button" data-next>
    {{ 'next' | icon }}
  </button>
</div>
