/* Links */
a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

/* Lists */
ul,
ol {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

/* Images */
img {
  display: block;
  max-width: 100%;
}

/* Headers */
h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

h5 {
  @include h5;
}

h6 {
  @include h6;
}

/* Buttons */
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  color: inherit;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

/* Icons */
.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  svg {
    stroke-width: 1;
    width: 1.5rem;
    height: 1.5rem;
  }
}

.icons-demo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: calc($spacing * -0.5);
}

.icons-demo__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: calc($spacing * 0.5);
  width: 60px;
  height: 60px;
  padding: $spacing;
  text-align: center;
  font-size: 24px;
  background-color: $light-gray-color;
  border-radius: $border-radius;
}
