/* Breadcrumbs */
.breadcrumbs__item {
  display: inline;
  margin-right: 0.5em;

  &:not(:last-child) {
    &::after {
      display: inline-block;
      content: "/";
      margin-left: 0.5em;
    }
  }
}

a.breadcrumbs__link {
  @include transition;

  color: $main-color;

  &:hover,
  &:focus {
    outline: none;
    color: $main-color;
    text-decoration: underline;
  }

  .breadcrumbs__item:last-child & {
    color: $text-color;

    &:hover,
    &:focus {
      color: $main-color;
    }
  }
}
