/* Cookie */
.cookie {
  @include dark;

  position: fixed;
  z-index: 99999;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(#000, 0.75);
  font-size: 14px;
  padding-top: $spacing-lg;
  padding-bottom: $spacing-lg;
}

.cookie__inner {
  @include inner;

  margin-left: auto;
  margin-right: auto;

  @include media(">=tablet") {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.cookie__text {
  a {
    color: $main-color;
  }
}

.cookie__button {
  @include t2;

  @include media("<tablet") {
    margin-top: 15px;
  }

  @include media(">=tablet") {
    margin-left: 15px;
  }
}
