/* Files */
.files__list {
  overflow: hidden;
  border-radius: $border-radius;
}

.files__item {
  @include vmargin(1px);
}

.files__link {
  display: flex;
  align-content: stretch;
  background-color: $light-gray-color;
}

.files__title {
  @include transition;

  flex-grow: 1;
  padding: $spacing-sm $spacing-lg;

  a.files__link:hover &,
  a.files__link:focus & {
    outline: none;
    color: $main-color;
  }
}

.files__download {
  @include transition;

  padding: $spacing-sm $spacing-lg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-right: 1px solid rgba(#000, 0.05);

  a.files__link:hover &,
  a.files__link:focus & {
    background-color: $main-color;
    color: #fff;
  }

  @include media("<tablet") {
    flex-basis: 60px;
  }
}

a.files__download {
  &:hover,
  &:focus {
    outline: none;
    background-color: $main-color;
    color: #fff;
  }
}
