@use '../common/globals' as *;

// Image link
.image-link,
%image-link {
  display: block;
  position: relative;
  overflow: hidden;
  color: #fff;

  &::before {
    @include transition;
    @include absolute-block(100%, 100%);

    left: 0;
    top: 0;
    z-index: 1;
  }

  &:hover,
  &:focus {
    outline: none;

    &::before {
      background-color: rgba(#1c1c1b, 0.3);
    }
  }

  img {
    @include transition;

    display: block;
    width: 100%;
  }
}

.image-link__title,
%image-link__title {
  @include dark;
  @include h2(false);

  position: absolute;
  left: 0;
  bottom: 0;
  padding: 45px 60px;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(#000, 0) 0%,
    rgba(#000, 0.6) 100%
  );

  @include media('<laptop') {
    padding: 25px 30px;
  }
}

.image-link__play,
%image-link__play {
  @include transition;

  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: #fff;
  z-index: 2;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;

  svg {
    width: 48px;
    height: 48px;
  }
}

.image-link--video {
  width: 100%;

  &::before {
    display: none;
  }

  &:hover {
    .image-link__play {
      transform: translate(-50%, -50%) translateY(-5px);
    }
  }
}

/* Iframe Video */
.iframe-video {
  @extend %image-link;

  width: 100%;
  cursor: pointer;
  padding-bottom: 56.25%;
  border-radius: var(--border-radius);

  iframe,
  img {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  img {
    object-fit: cover;
  }

  iframe {
    visibility: hidden;
    pointer-events: none;
  }

  &.is-active {
    img {
      visibility: hidden;
      pointer-events: none;
    }

    iframe {
      visibility: visible;
      pointer-events: auto;
    }
  }

  &::before {
    display: none;
  }
}

.iframe-video__title {
  @extend %image-link__title;

  .iframe-video.is-active & {
    display: none;
  }
}

.iframe-video__play {
  @extend %image-link__play;

  .iframe-video:hover & {
    transform: translate(-50%, -50%) translateY(-5px);
  }

  .iframe-video.is-active & {
    display: none;
  }
}
