/* Menu toggle */
.menu-toggle-container {
  @include transition;

  position: fixed;
  z-index: 500;
  top: 20px;
  right: 0;
  text-align: right;

  @include media(">=desktop") {
    display: none;
  }
}

.menu-toggle {
  @include transition;

  background: $main-color;
  display: block;
  position: relative;
  height: 40px;
  width: 40px;
  margin: 0;
  padding: 0;
}

.menu-toggle__checkbox {
  display: none;
}

.menu-toggle__icon {
  @include transition(all 0.2s 0.3s $easing);

  transform: rotate(0deg);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 24px;
  height: 18px;

  span {
    @include transition(all 0.2s 0.3s $easing);

    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    opacity: 1;
    left: 0;
    background: #fff;

    &:nth-child(1) {
      top: 1px;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 9px;
    }

    &:nth-child(4) {
      top: 17px;
    }
  }

  .menu-toggle__checkbox:checked + & {
    span {
      &:nth-child(1),
      &:nth-child(4) {
        top: 9px;
        width: 0%;
        left: 50%;
      }

      &:nth-child(2) {
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
  }
}
