.nav-toggle {
  position: relative;
  width: 26px;
  height: 26px;
  flex: 0 0 26px;

  span {
    @include absolute-block(100%, 2px);

    background-color: currentcolor;
    transition: all 0.3s $easing;

    &:nth-child(2) {
      top: 50%;
    }

    &:nth-child(1) {
      top: calc(50% - 8px);
    }

    &:nth-child(3) {
      top: calc(50% + 8px);
    }
  }

  &.is-active {
    span {
      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(1) {
        top: 50%;
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        top: 50%;
        transform: rotate(-45deg);
      }
    }
  }

  &:hover,
  &:focus {
    outline: none;

    span:nth-child(2) {
      width: 75%;
    }
  }
}
