/* Pagination */
.pagination__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: calc($spacing-xs * -1);
  padding: 0;
}

.pagination__item {
  display: flex;
  white-space: nowrap;
  text-align: center;
  margin: $spacing-xs;
}

.pagination__item--prev {
  margin-right: $spacing-sm;
}

.pagination__item--next {
  margin-left: $spacing-sm;
}

.pagination__link {
  @include transition;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: calc($text-height + $spacing-xs * 2);
  padding: $spacing-xs;
  border-radius: $border-radius;
  color: $main-color;

  .pagination__item--current & {
    background-color: $main-color;
    color: #fff;
  }
}

a.pagination__link {
  &:hover,
  &:focus {
    outline: none;
    background-color: $main-color;
    color: #fff;
  }
}
