@use "sass:color";

.social {
  display: flex;
  flex-wrap: wrap;
  margin: calc($spacing * -0.5);
}

.social__item {
  margin: calc($spacing * 0.5);
}

.social__link {
  @include dark;
  @include transition;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: $border-radius;
  background-color: $main-color;

  &:hover,
  &:focus {
    outline: none;
    background-color: color.adjust($main-color-hex, $lightness: 10%);
  }
}
