.social {
  --size: 48px;

  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing);

  @include media('<tablet') {
    --size: 36px;
  }
}

.social__item {
  @include animator-delay(10, 100ms, 50ms);
}

.social__link {
  @include dark;
  @include transition;

  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  border-radius: var(--border-radius);
  background-color: var(--main-color);

  &:hover,
  &:focus {
    outline: none;
    background-color: rgba(var(--main-color-rgb) / 85%);
  }
}
