@keyframes xform-preloader {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.xform {
  --xform-margin: var(--spacing);
  --xform-input-margin: var(--spacing-xs);
  --xform-input-background-color: var(--light-gray-color);
  --xform-input-border-radius: var(--border-radius);
  --xform-input-border-radius-sm: var(--border-radius-sm);
  --xform-input-border-width: 1px;
  --xform-input-border-color: var(--gray-color);
  --xform-input-border-color-active: var(--main-color);
  --xform-input-placeholder-color: var(--dark-gray-color);
  --xform-input-color: var(--text-color);
  --xform-input-font-size: var(--text-size);
  --xform-input-line-height: var(--text-height);
  --xform-input-padding-vertical: var(--spacing-sm);
  --xform-input-padding-horizontal: var(--spacing);
  --xform-label-color: var(--text-color);
  --xform-label-font-size: var(--xform-input-font-size);
  --xform-label-line-height: var(--xform-input-line-height);
  --xform-section-margin: var(--spacing-lg);
  --xform-hint-color: var(--muted-color);
  --xform-hint-font-size: var(--text-size-sm);
  --xform-hint-line-height: var(--text-height-sm);
  --xform-hint-margin: var(--spacing-xs);
  --xform-error-color: var(--danger-color);

  position: relative;
  width: 100%;

  &::before {
    @include absolute-block(100%,100%);

    z-index: 1;
    left: 0;
    top: 0;
    background: rgba(#fff, 0.7);
    display: none;
  }

  &::after {
    @include absolute-block(30px,30px);

    bottom: 0;
    right: 0;
    animation: xform-preloader 1s infinite linear;
    margin: 0 auto;
    z-index: 2;
    border: 2px solid rgba(#000, 0.2);
    border-bottom-color: var(--dark-color);
    border-radius: 50%;
    display: none;
  }
}

.xform__section {
  @include vmargin(var(--xform-section-margin));
}

.xform__section-header {
  @include vmargin(var(--heading-spacing));
}

.xform__section-title {
  @include h2;
  @include vmargin(0);
}

.xform__row {
  gap: var(--xform-margin);
}

.xform__col {
  .xform__button:first-child:last-child {
    display: block;
    width: 100%;
  }
}

.xform__field {
  @include vmargin(var(--xform-margin));

  position: relative;
}

.xform__label,
.xform__legend {
  @include vmargin(var(--xform-input-margin));

  appearance: none;
  display: block;
  color: var(--xform-label-color);
  font-size: var(--xform-label-font-size);
  line-height: var(--xform-label-line-height);

  .xform__field--required & {
    &::after {
      content: " *";
      color: var(--main-color);
    }
  }
}

.xform__input,
%xform__input {
  @include vmargin(var(--xform-input-margin));
  @include transition;

  appearance: none;
  display: block;
  width: 100%;
  padding: var(--xform-input-padding-vertical) var(--xform-input-padding-horizontal);
  background-color: var(--xform-input-background-color);
  border: var(--xform-input-border-width) solid var(--xform-input-border-color);
  border-radius: var(--xform-input-border-radius);
  color: var(--xform-input-color);
  font-size: var(--xform-input-font-size);
  line-height: var(--xform-input-line-height);

  &:hover,
  &:focus {
    outline: none;
    border-color: var(--xform-input-border-color-active);
  }

  &::placeholder {
    color: var(--xform-input-placeholder-color);
  }
}

.xform__input--text {
  resize: vertical;
  min-height: 130px;

  @include scrollbar(5px);
}

.xform__input--select {
  --corner-size: 6px;
  --corner-color: var(--xform-input-placeholder-color);

  background-image:
    linear-gradient(45deg, transparent 50%, var(--corner-color) 50%, var(--corner-color) calc(50% + 1px), transparent calc(50% + 1px)),
    linear-gradient(-45deg, transparent 50%, var(--corner-color) 50%, var(--corner-color) calc(50% + 1px), transparent calc(50% + 1px));
  background-position:
    right calc(var(--xform-input-padding-horizontal) + var(--corner-size) * 0.5) top 50%,
    right calc(var(--xform-input-padding-horizontal) - var(--corner-size) * 0.5) top 50%;
  background-size: var(--corner-size);
  background-repeat: no-repeat;
  padding-right: calc(var(--xform-input-padding-horizontal) * 2 + 10px);
}

.xform__fieldset {
  margin: 0;

  @include vmargin(var(--xform-margin));

  padding: 0;
  border: none;
}

.xform__radio {
  label {
    &::before {
      border-radius: 50%;
    }

    &::after {
      @include absolute-block(0.6em,0.6em);

      left: 0.45em;
      top: 0.45em;
      background-color: var(--main-color);
      border-radius: 50%;
    }
  }
}

.xform__checkbox {
  label {
    &::before {
      border-radius: var(--xform-input-border-radius-sm);
    }

    &::after {
      @include absolute-block(0.5em,0.8em);

      left: 0.5em;
      top: 0.2em;
      transform: rotate(40deg);
      border: 1px solid var(--main-color);
      border-left: none;
      border-top: none;
    }
  }
}

.xform__radio,
.xform__checkbox {
  @include vmargin(var(--xform-input-margin));

  position: relative;

  label {
    position: relative;
    display: block;
    padding-left: 2em;
    padding-bottom: var(--xform-input-border-width);
    font-size: var(--xform-input-font-size);

    &::before {
      @include absolute-block(1.5em, 1.5em);
      @include transition;

      left: 0;
      top: 0;
      border: var(--xform-input-border-width) solid var(--xform-input-border-color);
      background-color: var(--xform-input-background-color);
    }

    &::after {
      @include transition;

      opacity: 0;
    }

    &:hover {
      &::before {
        border-color: var(--xform-input-border-color-active);
      }
    }

    a {
      @include underline;

      color: var(--main-color);

      &:hover,
      &:focus {
        outline: none;
        text-decoration: none;
      }
    }
  }

  input {
    appearance: none;
    position: absolute;
    left: 0;
    top: 0;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;

    &:focus {
      outline: none;

      & + label {
        &::before {
          border-color: var(--xform-input-border-color-active);
        }
      }
    }

    &:checked + label {
      &::after {
        opacity: 1;
      }
    }
  }
}

.xform__file {
  @extend %xform__input;

  display: flex;
  overflow: hidden;

  input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: var(--xform-input-border-radius);
  }

  &:hover,
  &:focus-within {
    border-color: var(--xform-input-border-color-active);
  }
}

.xform__file-value {
  visibility: hidden;
  margin-right: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  .xform__field--activated & {
    visibility: visible;
  }
}

.xform__file-button {
  @include t1;
  @include transition;

  border-radius: var(--xform-input-border-radius);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: var(--xform-input-padding-vertical) var(--xform-input-padding-horizontal);
  margin-left: 0;
  margin-right: calc(-1 * (var(--xform-input-padding-horizontal)));
  margin-top: calc(-1 * (var(--xform-input-padding-vertical)));
  margin-bottom: calc(-1 * (var(--xform-input-padding-vertical)));
  background-color: var(--xform-input-background-color);
  color: var(--xform-input-placeholder-color);
  text-align: center;

  .xform__file:hover &,
  .xform__file:focus-within & {
    color: var(--text-color);
  }
}

.xform__hint,
.xform__error {
  margin-top: calc(var(--xform-input-margin) * -1 + var(--xform-hint-margin));
  font-size: var(--xform-hint-font-size);
  line-height: var(--xform-hint-line-height);
}

.xform__hint {
  color: var(--xform-hint-color);
}

.xform__error {
  color: var(--xform-error-color);
}

.xform__footer {
  @include vmargin(var(--xform-section-margin));
}

.xform__comment {
  @include t2;
  @include vmargin(var(--xform-margin));
}

.xform__footer--center {
  text-align: center;
}

.xform--blocked {
  pointer-events: none;

  &::before {
    display: block;
  }
}

.xform--submitting {
  pointer-events: none;

  &::before,
  &::after {
    display: block;
  }
}

.xform--placeholders {
  .xform__label {
    @include transition;

    padding: var(--xform-input-padding-vertical) var(--xform-input-padding-horizontal);
    position: absolute;
    top: var(--xform-input-border-width);
    left: var(--xform-input-border-width);
    width: calc(100% - 2 * var(--xform-input-border-width) - 20px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: var(--xform-input-border-radius);
    color: var(--xform-input-placeholder-color);
    pointer-events: none;
    margin-bottom: 0;
  }

  .xform__input,
  .xform__file {
    @include transition;

    margin-top: 0;
  }

  .xform__input--select {
    color: transparent;

    option {
      color: var(--xform-input-color);
    }
  }

  .xform__field--activated {
    .xform__label {
      font-size: calc(var(--xform-label-font-size) * 0.75);
      line-height: calc(var(--xform-label-line-height) * 0.75);
      padding-top: calc(var(--xform-input-padding-vertical) * 0.35);
      padding-bottom: 0;
    }

    .xform__input,
    .xform__file {
      padding-top: calc(var(--xform-input-padding-vertical) * 1.75);
      padding-bottom: calc(var(--xform-input-padding-vertical) * 0.25);
    }

    .xform__input--select {
      color: var(--xform-input-color);
    }

    .xform__file-button {
      margin-top: calc(-1 * (var(--xform-input-padding-vertical) * 1.75));
      margin-bottom: calc(-1 * (var(--xform-input-padding-vertical) * 0.25));
    }
  }
}
