@import "../../node_modules/notyf/notyf.min";

.notyf {
  @include dark;

  z-index: 99999;
  padding: var(--spacing-xl);
}

.notyf__toast {
  border-radius: var(--border-radius);
  padding-left: var(--spacing-sm);
  padding-right: var(--spacing-sm);
  box-shadow: var(--shadow);
}

.notyf__toast--upper {
  margin-bottom: var(--spacing);
}

.notyf__toast--lower {
  margin-top: var(--spacing);
}

.notyf__wrapper {
  padding-top: var(--spacing-sm);
  padding-bottom: var(--spacing-sm);

  @include media("<=480px") {
    .notyf__toast--dismissible & {
      padding-right: 50px;
    }
  }
}

.notyf__icon {
  margin-right: var(--spacing-sm);
  font-size: 14px;

  i {
    display: block;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: transparent;
    border-radius: 0;

    &::before,
    &::after {
      display: none;
    }
  }
}

.notyf__icon--success {
  background-image: icon-circle-check();
}

.notyf__icon--error {
  background-image: icon-circle-x();
}

.notyf__icon--warning {
  background-image: icon-alert-triangle();
}

.notyf__icon--info {
  background-image: icon-info-circle();
}

.notyf__message {
  @include t1;
}

.notyf__dismiss {
  margin-right: calc(var(--spacing-sm) * -1);
}

.notyf__dismiss-btn {
  &::before,
  &::after {
    width: 1px;
  }
}
