.xslider {
  position: relative;
}

.xslider__inner {
  position: relative;
}

.xslider__viewport {
  position: relative;
  z-index: 1;
  overflow: hidden;
  touch-action: pan-y;

  .xslider--vertical & {
    height: 300px;
    touch-action: pan-x;
  }
}

.xslider__track {
  @include transition(all 0.7s var(--easing));

  position: relative;
  display: flex;
  align-items: flex-start;
  user-select: none;

  .xslider--stretch & {
    align-items: stretch;
  }

  .xslider--vertical & {
    flex-direction: column;
    height: 100%;
  }
}

.xslider__item {
  flex: 0 0 100%;
  position: relative;
  overflow: hidden;
  display: flex;

  img,
  video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .xslider--carousel-2 & {
    flex-basis: 50%;
  }

  .xslider--carousel-3 & {
    flex-basis: 33.3333%;

    @include media("<laptop") {
      flex-basis: 50%;
    }
  }

  .xslider--carousel-4 & {
    flex-basis: 25%;

    @include media("<laptop") {
      flex-basis: 50%;
    }
  }

  .xslider--carousel-5 & {
    flex-basis: 20%;

    @include media("<laptop") {
      flex-basis: 50%;
    }
  }

  .xslider--vertical & {
    width: 100%;
  }

  .xslider--100vh & {
    height: calc(100vh - var(--header-height, 0px));
  }
}

.xslider__image {
  display: flex;
  align-items: center;
  flex: 1;
}

.xslider__content {
  @include section;
  @include dark;

  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;

  &::before {
    @include absolute-block(100%, 100%);

    left: 0;
    top: 0;
    background-color: rgba(#000, 0.1);
  }
}

.xslider__data {
  @include inner;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.xslider__title {
  @include h1;

  transition: opacity 1s 0.5s var(--easing), transform 1s 0.5s var(--easing);

  .xslider__item:not(.is-active) & {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.xslider__summary {
  transition: opacity 1s 1s var(--easing);

  .xslider__item:not(.is-active) & {
    opacity: 0;
  }
}

.xslider__arrows {
  @include inner;

  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
  pointer-events: none;

  @include media("hover") {
    display: flex;
  }
}

.xslider__arrow {
  @include transition;

  background-color: rgba(#000, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  pointer-events: auto;
  border-radius: var(--border-radius);
  padding: var(--spacing);

  &:hover,
  &:focus {
    outline: none;
    background-color: var(--main-color);
  }

  &.is-disabled,
  &:disabled {
    opacity: 0.5;
    cursor: default;

    &:hover,
    &:focus {
      background-color: inherit;
      color: inherit;
    }
  }

  @include media("<tablet") {
    width: 40px;
    height: 50px;
    font-size: 12px;
  }
}

.xslider__bullets {
  @include vmargin(50px);

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &.is-hidden {
    display: none;
  }
}

.xslider__bullet {
  margin: 0;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 18px;
    position: relative;
    padding: 4px;

    &::before {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      background-color: var(--gray-color);
      border-radius: 50%;
    }

    &:hover,
    &:focus {
      outline: none;

      &::before {
        background-color: var(--main-color);
      }
    }
  }

  &.is-active {
    button {
      &::before {
        background-color: var(--main-color);
      }
    }
  }
}

.xslider__progress {
  @include transition;

  --value: 0;

  height: 5px;
  background-color: var(--main-color);
  width: calc(var(--value) * 1%);
}

.xslider__thumbs {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 1px;
}

.xslider__thumbs-link {
  @include transition;

  position: relative;
  display: block;
  opacity: 0.25;

  .xslider__progress {
    opacity: 0;
  }

  .is-active & {
    opacity: 1;

    .xslider__progress {
      opacity: 1;
    }
  }
}

button.xslider__thumbs-link,
a.xslider__thumbs-link {
  &:hover,
  &:focus {
    outline: none;
    opacity: 1;
  }
}

.xsldier__thumbs-image {
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.xslider__counter {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  pointer-events: none;
  padding-top: var(--spacing-lg);
  padding-left: var(--spacing-lg);
  padding-right: var(--spacing-lg);
}

.xslider__counter-current {
  color: var(--main-color);
}

.xslider__counter-all {
  &::before {
    content: "/";
  }
}
