@use "sass:color";
@use "sass:map";

.text,
%text {
  // Clearfix

  &::after {
    content: "";
    display: block;
    clear: both;
  }

  // Strong

  strong {
    font-weight: var(--strong-weight);
  }

  // Quotes

  blockquote {
    padding: var(--spacing-sm) var(--spacing-lg);
    margin-left: 0;
    margin-right: 0;
    background: var(--surface-secondary-color);
    border-left: 3px solid var(--main-color);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }

  // Links

  a {
    &:not(.button) {
      @include underline;

      color: var(--main-color);
    }

    &:not(.button):hover,
    &:not(.button):focus {
      outline: none;
      text-decoration: none;
    }
  }

  // Images

  img {
    max-width: 100%;
    display: inline-block;
    border-radius: var(--border-radius);
  }

  figure {
    display: table;

    figcaption {
      @include t2;

      display: table-caption;
      caption-side: bottom;
      color: var(--surface-secondary-color);
    }
  }

  img.right,
  img.align_right,
  img.align-right,
  figure.align_right,
  figure.align-right {
    float: right;
    margin-left: var(--spacing);
    margin-right: 0;
    margin-top: 0;
  }

  img.left,
  img.align_left,
  img.align-left,
  figure.align_left,
  figure.align-left {
    float: left;
    margin-top: 0;
    margin-left: 0;
    margin-right: var(--spacing);
  }

  img.align_center,
  img.align-center,
  figure.align_center,
  figure.align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  a > img {
    padding: 1px;
    margin: 1px;
    border: none;
    outline: 1px solid var(--main-color);
  }

  // Headers

  h1 {
    @include h1;
  }

  h2 {
    @include h2;
  }

  h3 {
    @include h3;
  }

  h4 {
    @include h4;
  }

  h5 {
    @include h5;
  }

  h6 {
    @include h6;
  }

  // Horizontal line

  hr {
    border: 0;
    border-top: 1px solid var(--border-color);
  }

  // Tables

  table {
    width: 100%;
    border: none;
    border-collapse: collapse;
  }

  td,
  th {
    padding: var(--spacing-sm) var(--spacing);

    @include media("<tablet") {
      padding-left: var(--spacing-sm);
      padding-right: var(--spacing-sm);
    }
  }

  thead td,
  th {
    background: var(--main-color);
    color: #fff;
    font-weight: var(--text-weight);
    text-align: left;
  }

  tbody {
    td {
      background: var(--surface-color);
    }

    tr:nth-child(even) {
      td {
        background-color: var(--surface-secondary-color);
      }
    }
  }

  tr:first-child td:first-child,
  tr:first-child th:first-child {
    border-top-left-radius: var(--border-radius);
  }

  tr:first-child td:last-child,
  tr:first-child th:last-child {
    border-top-right-radius: var(--border-radius);
  }

  thead + tbody {
    tr:first-child td:first-child,
    tr:first-child th:first-child {
      border-top-left-radius: 0;
    }

    tr:first-child td:last-child,
    tr:first-child th:last-child {
      border-top-right-radius: 0;
    }

    tr:last-child td:first-child,
    tr:last-child th:first-child {
      border-bottom-left-radius: var(--border-radius);
    }

    tr:last-child td:last-child,
    tr:last-child th:last-child {
      border-bottom-right-radius: var(--border-radius);
    }
  }

  .table-container {
    min-height: 0.01%;
    overflow-x: auto;
  }

  // Lists

  li {
    @include vmargin(var(--spacing-sm));

    list-style-type: none;

    &::before {
      display: inline-block;
      color: var(--main-color);
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul,
  ol {
    padding-left: 2em;
    margin-left: var(--spacing-lg);
  }

  ul {
    li::before {
      vertical-align: middle;
      font-size: 0.5em;
      margin-left: -4em;
      width: 4em;
      content: "â—";
    }
  }

  ol {
    counter-reset: list;

    li::before {
      margin-left: -2em;
      width: 2em;
      content: counter(list) ".";
      counter-increment: list;
    }
  }

  // Vertical margin

  p,
  blockquote,
  ul,
  ol,
  table,
  figure,
  .table-container {
    @include vmargin(var(--text-spacing));
  }

  // Marker

  .marker {
    background-color: var(--marker-color);
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: var(--border-radius-sm);
  }
}

// Columns

.text--columns-2 {
  @include media(">=laptop") {
    columns: 2;
    column-gap: var(--grid-col-gap);
  }
}
