@use "sass:color";

/* Text */
.text,
%text {
  /* Strong */
  strong {
    font-weight: $strong-weight;
  }

  /* Blockquotes */
  blockquote {
    padding: $spacing-sm $spacing-lg;
    margin-left: 0;
    margin-right: 0;
    background: $light-gray-color;
    border-left: 3px solid $main-color;
  }

  /* Links */
  a {
    text-decoration: none;

    &:not(.button) {
      color: $main-color;
    }

    &:not(.button):hover,
    &:not(.button):focus {
      outline: none;
      text-decoration: underline;
    }
  }

  /* Images */
  img {
    max-width: 100%;
    display: inline-block;
  }

  figure {
    display: table;

    figcaption {
      display: table-caption;
      caption-side: bottom;
      line-height: 1.3em;
      color: $gray-color;
      font-size: 13px;
    }
  }

  img.right,
  img.align_right,
  img.align-right,
  figure.align_right,
  figure.align-right {
    float: right;
    margin-left: 15px;
    margin-right: 0;
    margin-top: 0;
  }

  img.left,
  img.align_left,
  img.align-left,
  figure.align_left,
  figure.align-left {
    float: left;
    margin-top: 0;
    margin-left: 0;
    margin-right: 15px;
  }

  img.align_center,
  img.align-center,
  figure.align_center,
  figure.align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  a > img {
    padding: 1px;
    margin: 1px;
    border: none;
    outline: 1px solid $main-color;
  }

  /* Headers */
  h1 {
    @include h1;
  }

  h2 {
    @include h2;
  }

  h3 {
    @include h3;
  }

  h4 {
    @include h4;
  }

  h5 {
    @include h5;
  }

  h6 {
    @include h6;
  }

  /* Horizontal line */
  hr {
    border: 0;
    border-top: 1px solid #ccc;
  }

  /* Tables */
  table {
    width: 100%;
    border: none;
    border-collapse: collapse;
  }

  td,
  th {
    padding: $spacing-sm $spacing-lg;

    @include media("<tablet") {
      padding-left: $spacing-sm;
      padding-right: $spacing-sm;
    }
  }

  tbody td {
    background: $light-gray-color;
    border-bottom: 1px solid #fff;
  }

  thead td,
  th {
    background: $main-color;
    color: #fff;
    font-weight: $text-weight;
    text-align: left;
    border-bottom: 1px solid #fff;
  }

  tr:first-child td:first-child,
  tr:first-child th:first-child {
    border-top-left-radius: $border-radius;
  }

  tr:first-child td:last-child,
  tr:first-child th:last-child {
    border-top-right-radius: $border-radius;
  }

  thead + tbody {
    tr:first-child td:first-child,
    tr:first-child th:first-child {
      border-top-left-radius: 0;
    }

    tr:first-child td:last-child,
    tr:first-child th:last-child {
      border-top-right-radius: 0;
    }

    tr:last-child td:first-child,
    tr:last-child th:first-child {
      border-bottom-left-radius: $border-radius;
    }

    tr:last-child td:last-child,
    tr:last-child th:last-child {
      border-bottom-right-radius: $border-radius;
    }
  }

  .table-container {
    min-height: 0.01%;
    overflow-x: auto;
  }

  /* Lists */
  ul,
  ol {
    padding-left: 2em;
    margin-left: $spacing-lg;
  }

  ol {
    counter-reset: list;
  }

  li {
    @include vmargin($spacing-sm);

    list-style-type: none;

    &::before {
      display: inline-block;
      color: $main-color;
    }
  }

  ul li::before {
    vertical-align: middle;
    font-size: 0.5em;
    margin-left: -4em;
    width: 4em;
    content: "â—";
  }

  ol li::before {
    margin-left: -2em;
    width: 2em;
    content: counter(list) ".";
    counter-increment: list;
  }

  li:first-child {
    margin-top: 0;
  }

  li:last-child {
    margin-bottom: 0;
  }

  /* Vertical margin */
  p,
  blockquote,
  ul,
  ol,
  table,
  figure,
  .table-container {
    @include vmargin($text-spacing);
  }

  /* Marker */
  .marker {
    background-color: color.adjust($main-color-hex, $lightness: 45%);
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: $border-radius-sm;
  }
}

/* Columns */
.text--columns-2 {
  @include media(">=laptop") {
    columns: 2;
    column-gap: $col-gutter;
  }
}
